<p id="notice"><%= notice %></p>
<div class="center">
<h1>All Projects</h1>

    <% User.all.each do |user| %>
     
      
         <br>
       
        </div>
        <div class="maincontent">
        <div class="d-flex flex-wrap">
          <% user.projects.each do |project|%> 
          
        <div class="card">
          <div class="card-body">
          <h4 class="card-title">
       <%= project.name%></h4>

        <%= link_to 'Show', project_path(project), :class=>"btn btn-dark"%>
              </div>
       </div>
       <br>
              <%end%>
    <% end %>
     <%= link_to 'Add New project', new_project_path, :class=>"btn btn-dark" %>
       
</div>
</div>
